[project]
	description = Java UI application for IVI system.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ThiyagarajanRamanathan
[access "refs/for/refs/*"]
	read = group user/ThiyagarajanRamanathan
	push = group user/ThiyagarajanRamanathan
	label-Code-Review = -2..+2 group user/ThiyagarajanRamanathan
	label-Verified = -1..+1 group user/ThiyagarajanRamanathan
	rebase = group user/ThiyagarajanRamanathan
	removeReviewer = group user/ThiyagarajanRamanathan
	submit = group user/ThiyagarajanRamanathan
[access "refs/heads/*"]
	read = group user/ThiyagarajanRamanathan
	create = group user/ThiyagarajanRamanathan
	push = +force group user/ThiyagarajanRamanathan
	pushMerge = group user/ThiyagarajanRamanathan
[access "refs/tags/*"]
	push = group user/ThiyagarajanRamanathan
	push = +force group user/ThiyagarajanRamanathan
